#bannerTitle{
	-fx-background-repeat: stretch; 
	-fx-background-position: center center;
	-fx-cursor: hand;
}

#bannerBackground{
	-fx-background-repeat: stretch; 
	-fx-background-position: center center;
	-fx-cursor: hand;
}

#listButton{
	-fx-background-image: url('banner/listIcon.png');
	-fx-background-repeat: stretch; 
	-fx-background-position: center center;
}

#iconButton{
	-fx-background-image: url('banner/gridIcon.gif');
	-fx-background-repeat: stretch; 
	-fx-background-position: center center;
}

#startImg{
	-fx-image: url('home.png');
}

#profileImg{
	-fx-image: url('profileIcon.png');
}

#favoriteImg{
	-fx-image: url('favoriteListIcon.png');
}

#shoppingImg{
	-fx-image: url('shoppingListIcon.png');
}

#recipeImg{
	-fx-image: url('recipeListIcon.png');
}