#banner{
	-fx-background-image: url('startView/start.png');
	-fx-background-repeat: stretch; 
	-fx-background-position: center center;
	-fx-border-color: BLACK;
}

#midTip{
	-fx-image:url("startView/middagstips.jpg");
}

#e1{
	-fx-image:url("startView/erbjudande1.jpg");
}


#e2{
	-fx-image:url("startView/erbjudande2.jpg");
}


#e3{
	-fx-image:url("startView/erbjudande3.jpg");
}